# Dependencies
node_modules/
**/node_modules/
dist/
**/dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
**/logs/
*.log
**/node_modules/.cache
**/.turbo/

# OS / Editor
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Build artifacts
.next/
.cache/
build/
